@charset "UTF-8";

/*********************************************************
 *                 Google Maps 用の定義
 *********************************************************
 */
html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }

/** InfoWindow 用 */
dt {
	display: table-cell;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}
dt img {
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	vertical-align: middle;
}

