# gitignore
target/classes
target/generated-sources
target/generated-test-sources
target/javadoc-bundle-options
target/maven-archiver
target/maven-status
target/site
target/surefire-reports
target/test-classes
*.jar
